@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!--  Heading -->
    <p></p>
    <hr />
    <hr />
    <h1 class="display-4">Evidence skladových zásob v ASP.NET Core MVC</h1>
    <hr />
    <hr />
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="https://oxystudio.cz/wp-content/uploads/2022/02/software-development-g264d3755a_1920.jpg" alt="azalee.cz">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Popis projektu</h3>
        <p>Evidence skladových zásob pro butik s italskou módou<a href="https://azalee.cz"> azalee.cz</a>.</p>
           <p>V evidenci lze přidávat produkty, editovat, mazat.</p>
        
        <h3 class="my-3">Detaily projektu</h3>
        <p>Toto je projekt v  ASP.NET Core MVC (.NET 6), jedná se pouze o zkušební projekt. </p>
        <p>Kod je ke shlédnutí nahrán na<a href="https://github.com/SapphireDesign/EvidenceSkladu.git"> GitHub.com</a>.</p>
        <ul>
          <li>Práce v C#</li>
          <li>OOP</li>
          <li>Práce s SQL</li>
          <li>Použit Javascript, JQuery</li>
          <li>HTML, CSS</li>
          <li>Azure, Git</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
