@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Evidence skladových zásob</h1>
    <p>Butik s italskou módou.<a href="https://azalee.cz">azalee.cz</a>.</p>
     <p>V evidenci lze přidávat produkty, editovat, mazat.</p>
     <p>
    <img src="https://oxystudio.cz/wp-content/uploads/2022/02/azaleecz.jpg" alt="azalee.cz" />


</div>
